



.container-scrolling {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.box-size-1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.box-size-2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}


.container-custom {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 97vh;
}

/*
    Backgrounds
*/
.bg-blue-custom {
    --bs-bg-opacity: 1;
    background-color: #D5FFF1 !important;
}

.bg-pink-strengh-custom {
    --bs-bg-opacity: 1;
    background-color: #BE95B9 !important;
}
.bg-pink-soft-custom {
    --bs-bg-opacity: 1;
    background-color:  #FEC7F7 !important;
}
.bg-green-strengh-custom {
    --bs-bg-opacity: 1;
    background-color: #81A969 !important;
}

.bg-green-soft-custom {
    --bs-bg-opacity: 1;
    background-color: #E0F19C !important;
}

/* End backgrounds*/
