@{
    ViewBag.Title = "About";
}

<div class="container-custom d-flex justify-content-center" style="background-image:url('@Url.Content("~/Content/Img/Backgrounds/Bakground-green-frogs.png")');">
    @*<main aria-labelledby="title" class="m-auto p-5">
            <h2 id="title">@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>

            <p>Use this area to provide additional information.</p>

        </main>*@

    <div class="card mb-3 w-75 h-50 align-self-center bg-transparent" style="">
        
            
            @*<div class="row h-100 w-100">*@

        <div class="col-12 row g-0 h-100">
            
            <div class="col-md-4 p-4 m-auto bg-white rounded-4">
                <img src="@Url.Content("~/Content/Img/Personal/Klaus-Hargreeves.The-Umbrella-Academy_.jpg")" class="img-fluid rounded-4" alt="..." style="width:100%;height:auto">
            </div>
            <div class="row col-md-8 m-auto h-75 bg-white rounded-end-3 ">
                <div class="text-center col-md-12 row">
                    <h2 class="">About me</h2>
                </div>
                <div class="row col-md-12 p-2">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>

                <div class="card-body row col-md-12 p-2">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>

            </div>
        </div>
            @*</div>*@

    </div>
</div>