@{
    ViewBag.Title = "Contact";
}


<div class="container-custom  justify-content-center " style="background-image:url('@Url.Content("~/Content/Img/Backgrounds/Bakground-green-frogs.png")');">

    <div class="row w-100 h-25 pt-5 mt-5">
        <div class="col-12 text-center pt-5 mt-5">
            <h1 class="h1">Visit our social media </h1>
        </div>
    </div>

    <div class="row w-100 h-25">
        <div class="offset-3 col-2">
            <div class="card text-center  w-100  m-2 border-success">
                <div class="card-header bg-green-strengh-custom ">
                    <h5 class="card-title fw-bold">

                        Facebook
                    </h5>
                </div>
                <div class="card-body">

                    <a href="#" class="btn btn-primary btn w-100 h-100 d-flex align-items-center justify-content-center p-3">
                        Feacebook
                    </a>
                </div>
                <div class="card-footer bg-green-strengh-custom">
                    <p class="card-text text-white">
                        @@MaritzaSeams
                    </p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card text-center w-100  m-2 border-success">
                <div class="card-header bg-green-strengh-custom ">
                    <h5 class="card-title fw-bold">
                        X
                    </h5>
                </div>
                <div class="card-body">

                    <a href="#" class="btn btn-dark btn w-100 h-100 d-flex align-items-center justify-content-center p-3">
                        X
                    </a>
                </div>
                <div class="card-footer bg-green-strengh-custom">
                    <p class="card-text text-white">
                        @@MaritzaSeams_X
                    </p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card text-center  w-100  m-2 border-success">
                <div class="card-header bg-green-strengh-custom ">
                    <h5 class="card-title fw-bold">

                        Facebook
                    </h5>
                </div>
                <div class="card-body">

                    <a href="#" class="btn btn-success btn w-100 h-100 d-flex align-items-center justify-content-center p-3">
                        Whatsapp
                    </a>
                </div>
                <div class="card-footer bg-green-strengh-custom">
                    <p class="card-text text-white">
                        +## ### ### ####
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>