@{
    ViewBag.Title = "Contact";
}




<div class="container mt-5">
    <div class="row mt-5">

        <div class="card mt-5">

            <div class="card-header">

            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col-12">
                        a
                    </div>
                    <div class="col-12">
                        a
                    </div>
                    <div class="col-12">
                        a
                    </div>
                </div>

            </div>



        </div>
    </div>

</div>