@{
    ViewBag.Title = "Contact";
}





<div class="container">

    <div class="card">

        <div class="card-header">

        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-12">

                </div>
                <div class="col-12">

                </div>
                <div class="col-12">

                </div>
            </div>

        </div>

    </div>

</div>