
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<!--Total Proyects-->
<!--Published Proyects-->
<!--Hidden Proyects-->
<!--how many proyects did you create?-->
<!--How many comments did you validate-->